/* Box Model Hack */
* {
    box-sizing: border-box;
  }
  
  /* Clear fix hack */
  .clearfix:after {
       content: ".";
       display: block;
       clear: both;
       visibility: hidden;
       line-height: 0;
       height: 0;
  }
  
  .clear {
      clear: both;
  }
  
  /******************************************
  /* BASE STYLES
  /*******************************************/
  
  body {
      background-color: rgb(224, 219, 255);
  
  }
  
  
  /******************************************
  /* LAYOUT
  /*******************************************/
  header {
  
  }
  
  footer {
  
  }
  
  *{
    
  }
  /******************************************
  /* ADDITIONAL STYLES
  /*******************************************/
  
  h1{
      color: rgb(0, 0, 0);
  }
  /* ol img{
      width: 50%;
  } */

  /*Need To change this for mobile screens mostly*/
  ol{
    display: inline-flex;
    width: 95%;
    overflow: auto;
  }

  li{
    list-style-type: disc;
    padding: 15px;
  }
  nav *{
    display: inline;
  }

  #planeschaseExample{
    display: grid;
    justify-items: center;
  }

  .top2{
    width: 100%;
    display: inline-flex;
    justify-content: space-evenly;
  }
 
img{
  transform: rotate(90deg);
  width: 35%;
}
#current{
  width: 30%;
}

  .bottom2{
    width: 100%;
    justify-content: space-evenly;
    display: inline-flex;
    margin-top: -10%;
  }
  .currentPlane{
    width: 100%;
    display: inline-flex;
    justify-content: center;
    margin-top: -10%;
  }
  
  /* #planeschaseExample *{
    width:50%
  } */
  /* .currentPlane *{
    width: 65%;
  } */
  a{
    color: rgb(250, 113, 1);
  }

  /* Navbar styles */
.navbar {
    display: flex;
    justify-content: center;
    background-color: #333;
    color: #fff;
}

/* Menu styles */
.menu {
  display: none; /* Hide the menu by default */
  list-style: none;
  margin: 0;
  padding: 0;
}

.menu li {
  padding: 10px;
}

.menu a {
  color: #fff;
  text-decoration: none;
}

.title{
    display: flex;
    justify-content: center;
    text-decoration: underline;
}

.rules-plane{
  margin: 0 30%;
  width: 30%;
  display: inline-flex;
  justify-content: center;
}
.rules{
  margin: 0 10%;
}
.schemes *{
  transform: rotate(0deg);
  display: grid;
  justify-content: space-evenly;
}
.schemeExamples img{
transform: rotate(0deg);
}
.schemeExamples {
  margin: 3% 0%;
  display: inline-flex;
  justify-content: space-evenly; 

}