/* Box Model Hack */
* {
    box-sizing: border-box;
  }
  
  /* Clear fix hack */
  .clearfix:after {
       content: ".";
       display: block;
       clear: both;
       visibility: hidden;
       line-height: 0;
       height: 0;
  }
  
  .clear {
      clear: both;
  }
  
  /******************************************
  /* BASE STYLES
  /*******************************************/
  
  body {
      background-color: rgb(108, 100, 156);
  
  }
  
  
  /******************************************
  /* LAYOUT
  /*******************************************/
  header {
  
  }
  
  footer {
  
  }
  
  /******************************************
  /* ADDITIONAL STYLES
  /*******************************************/
  
  h1{
      color: rgb(255, 255, 255);
  }
  /* ol img{
      width: 50%;
  } */

  /*Need To change this for mobile screens mostly*/
  ol{
    display: inline-flex;
    width: 50%;
    overflow: auto;
  }

  li{
    list-style-type: none;
    padding: 15px;
  }
